.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10% 0;
  height: calc(100% - 58px);
  margin-right: auto;
  margin-left: auto;
}

.login-container {
  width: 450px;
  height: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.login-container .content {
  background-color: #fff;
  padding-bottom: 10px;
  -moz-box-shadow: 0 1px 4px #ccc;
  -webkit-box-shadow: 0 1px 4px #ccc;
  box-shadow: 0 1px 4px #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 30px 40px;
}

form {
  display: block;
  margin-top: 0em;
}

.account-page input, .account-page button {
  margin-top: 15px;
}

.account-page input {
  padding-left: 12px;
  height: 49px;
  font-size: 16px;
  border-color: #a8becc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none !important;
  box-shadow: none !important;
}

input.form-control {
  color: #222;
  min-width: 55px;
}

.form-control {
  border: 1px solid #a8a8a8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.form-control {
  height: 35px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.form-control {
  display: block;
  width: 100%;
  height: 37px;
  padding: 7px 12px 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input {
  border: 1px solid #a8becc !important;
  color: #375366 !important;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  line-height: normal;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 11px system-ui;
}

user agent stylesheet
input, textarea, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb !important;
}